[submodule "submodules/quickstart-aws-vpc"]
	path = submodules/quickstart-aws-vpc
	url = ../../aws-quickstart/quickstart-aws-vpc.git
	branch = master
[submodule "submodules/quickstart-microsoft-utilities"]
	path = submodules/quickstart-microsoft-utilities
	url = ../../aws-quickstart/quickstart-microsoft-utilities.git
	branch = master
